@use "tailwindcss";
html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, ui-sans-serif, system-ui;
}

html {
  scroll-behavior: smooth;
 scrollbar-gutter: stable; /* Prevents content shift when scrollbar appears */
}

body {
  min-height: 100vh;
}
:root {
  --font-weight-extrabold: 800;
}

.font-extrabold {
  font-weight: 800 !important;
}
